name: Build wheels and sdist and upload to PyPI

on:
  release:
    types:
      - published
  workflow_dispatch:

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, macos-15-intel, macos-14]
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.1
        env:
          CIBW_BUILD_VERBOSITY: 3

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  merge_wheels:
    name: Merge wheels
    needs: [build_wheels]
    runs-on: ubuntu-latest
    steps:
      - name: Merge wheels
        uses: actions/upload-artifact/merge@v4
        with:
          name: wheels
          pattern: "cibw-wheels-*"

  build_sdist:
    name: Build sdist and upload to PyPI
    needs: [merge_wheels]
    runs-on: ubuntu-latest
    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
      attestations: write
      contents: read

    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Install build dependencies
        run: |
          python -m pip install -U pip
          python -m pip install -U build setuptools_scm

      - name: Extract version
        run: |
          echo "PACKAGE_VERSION=$(python -c 'from setuptools_scm import get_version; print(get_version())')" >> $GITHUB_ENV
          python -c 'from setuptools_scm import get_version; print(get_version())'

      - name: Download wheels
        uses: actions/download-artifact@v4
        with:
          name: wheels
          path: ./wheels

      - name: Build sdist
        run: |
          python -m build --sdist .
          ls -l dist
          tar tvfz dist/danish-*.tar.gz

      - name: Copy wheels to dist
        run: |
          cp wheels/*.whl dist/
          ls -la dist/

      - name: Generate attestations
        uses: actions/attest-build-provenance@v2
        with:
          subject-path: 'dist/*'

      - name: Publish to TestPyPI if alpha
        if: "contains(env.PACKAGE_VERSION, 'a') && !contains(env.PACKAGE_VERSION, '.dev')"
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          verbose: true

      - name: Publish to PyPI if stable release
        if: "!contains(env.PACKAGE_VERSION, 'a') && !contains(env.PACKAGE_VERSION, '.dev')"
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          verbose: true
